@model VollopRooster.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Employeeindividual";
}

<div class="text-center">

    <h1>@Model.Name</h1>
    <h5>Maximum hours: @Model.MaxHours </h5>
    <h5>Availability</h5>
    @Html.ActionLink("Add Availability", "AddAvailability", "Employee", new {id = @Model.Id}, new {@class = "nav-item nav-link"})
    <h5>Phone Number</h5>
    <p>@Model.Phonenumber</p>
    <h5>competentie</h5>
    <ul>
        <li>Bar @Model.Bar </li>
        <li>Event @Model.Event</li>
        <li>Overig @Model.Iets</li>
    </ul>
</div>

