@model VollopRooster.ViewModels.ShiftViewModel
@{
    ViewData["Title"] = "ChangeShift";
}

<div class="text-center">
    <form asp-controller="Shift" asp-action="UpdateShift" method="post">
        <input type="hidden" asp-for="Id" name="id" value="@Model.Id">
        <div class="form-group">
            <label for="exampleFormControlInput1">Description</label>
            <input type="Text" class="form-control" id="Description" asp-for="Description" value="@Model.Description">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Date</label>
            <input type="Text" class="form-control" id="Date" asp-for="Date" value="@Model.Date">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Starttijd</label>
            <input type="Text" class="form-control" id="StartTime" asp-for="StartTime" value=@Model.StartTime>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Eindtijd</label>
            <input type="Text" class="form-control" id="EndTime" asp-for="EndTime" value="@Model.EndTime">
        </div>

        <h5>Required Staff</h5>
        <input type="number" value="@Model.NrOfBar" min="0" max="10" step="1" asp-for="NrOfBar" />
        <input type="number" value="@Model.NrOfEvent" min="0" max="10" step="1" asp-for="NrOfEvent" />
        <input type="number" value="@Model.NrOfExtra" min="0" max="10" step="1" asp-for="NrOfExtra" />

        <button class="btn btn-primary" id="button">Save</button>
    </form>
</div>

