@model VollopRooster.ViewModels.ShiftViewModel
@{
    ViewData["Title"] = "ShiftIndividual";
}

<div class="text-center">
    <h1>ShiftIndividual</h1>
    <h3>Datum</h3>
    <h5>@Model.Date</h5>
    <h3>Beschrijving</h3>
    <h5>@Model.Description</h5>
    <h3>Starttijd</h3>
    <h5>@Model.StartTime</h5>
    <h3>Eindtijd</h3>
    <h5>@Model.EndTime</h5>
    <h3> Staff </h3>
    <h4>BarTenders</h4>
    <h5>@Model.</h5>
    <h4>Event Staff</h4>
    <h5>@Model.EndTime</h5>
    <h4>Extra Staff</h4>
    <h5>@Model.EndTime</h5>
</div>

