@model EventModel
@{
    ViewData["Title"] = "EventIndividual";
}

<div class="text-center">
    <h1>@Model.Name</h1>
    <h5>@Model.Date</h5>
    <h5>Description</h5>
    <p>@Model.Description</p>
    <h5>Required Roles + kwantiteit + times</h5>
    <h6>Number of Bartenders</h6>
    <p>@Model.Nrbar</p>
    <h6>Number of staff</h6>
    <p>@Model.Nrevent</p>
    <h6>Number of extra staff</h6>
    <p>@Model.Nriets</p>
</div>

